@model List<TrainViewModel>

@{
    Layout = "_Layout";
}

<h1 class="mb-4">@ViewBag.Title</h1>


<div id="train-table" class="border-bottom">
    <!-- Header -->
    <div class="top-header row bg-dark font-weight-bold py-2 text-white">
        <div class="col-1">#</div>
        <div class="col-3">Train Name</div>
        <div class="col-2">Train Number</div>
        <div class="col-2">Delay Time</div>
        <div class="col-2">Next Station</div>
        <div class="col-2">Last Update</div>
    </div>

    <!-- Rows -->
    @foreach (var train in Model)
    {
        @if (@train.HasIncident)
        {
            <a href="@Url.Action("GetIncidents", "Train", new { trainID = train.TrainId })" class="row py-2 text-decoration-none text-white bg-danger border-top">
                <partial name="Partials/_TrainRow" model="train" />
            </a>
        }
        else
        {
            <span class="row py-2 text-decoration-none text-dark bg-grey-light border-end border-start border-top">
                <partial name="Partials/_TrainRow" model="train" />
            </span>

        }
    }
</div>